$--main-black:#2A2A2A;
$--main-gray:#999999;
$--main-gray-light:#CCCCCC;
$--main-white:#FFFFFF;
$--yellow-primary: #FADB26;
$--yellow-hover: #FABF26;
$--yellow-pressed: #FFEA28;
$--yellow-default: #FFF6BE;

$--border-radius-default: 10px;