@import 'fonts';
@import 'variables';


@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
    
@keyframes fadeout {
0% { opacity: 1; }
100% { opacity: 0; }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

html,
body {
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;

    font-variant-numeric: lining-nums;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: $--main-black;
    height: 100%;
    scroll-behavior: smooth;
}

.hidden-tablet {
    @media screen and (min-width: $--screen-xxs-min) and (max-width: $--screen-md-min) {
        display: none;
    }
}
.only-tablet {
    display: none;

    @media screen and (min-width: $--screen-xxs-min) and (max-width: $--screen-md-min) {
        display: inherit;
    }
}
.hidden-mobile {
    @media screen and (max-width: $--screen-sm-min) {
        display: none !important;
    }
}
.only-mobile {
    display: none !important;
    @media screen and (max-width: $--screen-sm-min) {
        display: block !important;
    }
}
.hidden-desktop {
    @media screen and (min-width: 1025px) {
        display: none;
    }
}
.only-desktop {
    @media screen and (max-width: $--screen-md-min) {
        display: none;
    }
}

.body-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9996;
    background-color: $--main-black;
    opacity: 0.9;

    @media screen and (max-width: $--screen-sm-min) {
        top: 48px;
    }
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    width: 100%;

    @media screen and (max-width: $--screen-lg-min) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @media screen and (max-width: $--screen-sm-min) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media screen and (max-width: $--screen-xxs-min) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.bar {
    min-height: 70px;
    display: flex;
    align-items: center;

    @media screen and (max-width: $--screen-md-min) {
        min-height: 50px;
    }
}

.body-scroll-lock {
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

.title1 {
    // font-size: 6.04vw;
    font-size: 87px; 
    text-transform: uppercase;
    // font-variation-settings: 'wght' 600;
    font-weight: 600;

    @media screen and (max-width: $--screen-lg-min) {
        font-size: 5.84vw;
    }
    @media screen and (max-width: $--screen-md-min) {
        font-size: 6.25vw;
    }
    @media screen and (max-width: $--screen-sm-min) {
        font-size: 9.6vw;
    }
}

.title2 {
    font-weight: 500;
    font-size: 4rem;
    text-transform: uppercase;
    // font-variation-settings: 'wght' 600;

    @media screen and (max-width: $--screen-md-min) {
        font-size: 5.85vw;
    }
    @media screen and (max-width: $--screen-sm-min) {
        font-size: 8vw;
    }
}

.subtitle {
    font-size: 1.875rem;
    // font-variation-settings: 'wght' 600;
    font-weight: 500;
    @media screen and (max-width: $--screen-md-min) {
        font-size: 1.125rem;
    }
}

.text4 {
    font-size: 1.125rem;
    @media screen and (max-width: $--screen-md-min) {
        font-size: 1rem;
    }
}

.text5 {
    font-size: 1rem;
}

.text6 {
    font-size: .875rem;
    font-weight: 500;
    // font-variation-settings: 'wght' 500;
    font-weight: 500;
}

.text-bold {
    // font-variation-settings: 'wght' 600;
    font-weight: 500;
}

.no-word-break {
    white-space: nowrap;
}

.btn {
    font-family: 'Onest';
    // font-variation-settings: 'wght' 600;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    font-feature-settings: 'pnum' on, 'lnum' on;

    width: 100%;
    display: flex;
    align-items: center;

    transition: all .3s ease;

    &.large {
        max-width: 268px;
        min-height: 60px;
    }

    &.medium {
        border-radius: $--border-radius-default;
        max-width: 180px;
        min-height: 48px;
        font-size: .875rem;
    }

    &:disabled,
    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        color: $--main-gray-light;
    }

    &.primary {
        background: $--yellow-primary;
        border: none;
        border-radius: $--border-radius-default;
        justify-content: center;

        &:hover {
            background: $--yellow-hover;
        }

        &:active {
            background: $--yellow-pressed;
        }

        &:disabled,
        &.disabled {
            background: $--yellow-default;
        }
    }

    &.outlined {
        background: $--main-white;
        border: 2px solid $--main-gray;
        border-radius: $--border-radius-default;
        justify-content: center;

        &:hover {
            border-color: $--main-black;
        }

        &:active {
            border-color: $--main-black;
            background: $--yellow-pressed;
        }

        &:disabled,
        &.disabled {
            background: #E4E4E4;
            border-color: #E4E4E4;
        }
    }

    &.arrowed {
        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            background: url('~assets/img/arrow-right-up.png');
            background-size: cover;
            margin-left: 21.5px;
        }
    }
}

input, textarea {
    width: 100%;
    border-radius: 10px;
    border: 2px solid transparent;
    color: $--main-black;
    font-family: 'Onest', sans-serif;
    padding: 20px;
    font-size: 1rem;
    font-feature-settings: inherit;

    &::placeholder {
        color: $--main-gray-light;
    }

    &:focus {
        outline: none;
    }

    &.light {
        border-color: $--main-gray-light;

        &:focus, &:hover {
            border-color: $--main-gray;
        }

        &:active {
            border-color: $--main-black;
        }

        &:disabled {
            background-color: #E4E4E4;
        }
    }
    &.invalid {
        border-color: $--color-error !important;
    }
}

.invalid-message {
    color: $--color-error;
    font-size: 14px;
    display: block;
    transition: opacity .3s ease-in-out .2s, all .2s ease-in-out;
    opacity: 0;
    min-height: 2.5em;

    &.opened {
        opacity: 1;
    }
}

textarea {
    resize: none;
    min-height: 130px;
}

input[type=checkbox] {
    width: auto;
    position: absolute;
    z-index: -1;
    opacity: 0;
    // margin-right: 10px;
}

input[type=checkbox]:checked + .label_checkbox {
    &::before {
        background: url('../img/checkbox-tick.svg') no-repeat center center, white;
        background-size: 6.5px auto;
    }
}

.label_checkbox {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    position: relative;

    a {
        text-decoration: underline;
    }
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    @media screen and (max-width: $--screen-sm-min) {
        &:not(.footer-bottom-layout) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.pb {
    padding-bottom: 150px;

    @media screen and (max-width: $--screen-md-min) {
        padding-bottom: 100px;
    }
    @media screen and (max-width: $--screen-xs-min) {
        padding-bottom: 70px;
    }
}
.pb-small {
    padding-bottom: 33px;
    
    @media screen and (max-width: $--screen-xs-min) {
        padding-bottom: 70px;
    }
}

.pt0 {
    padding-top: 0 !important;
}

.mb3 {
    margin-bottom: .6em;
}


.header {
    padding-top: 170px;

    @media screen and (max-width: $--screen-md-min) {
        padding-top: 120px;
    }
    @media screen and (max-width: $--screen-sm-min) {
        padding-top: 80px;
    }
}



.block-offset {
    padding-top: 150px;
    grid-row-gap: 70px;

    &.block-offset-products {
        grid-row-gap: 112px;
    }
    
    &__title {
        white-space: pre-line;
        grid-column: 1/11;
        &--double {
            grid-column: 1/11;
            position: relative;
        }
        &--btn {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    
    &__content {
        grid-column: 3/11;
        grid-row: 2/3;

        &.offset-sm {
            grid-column: 2/11;
        }
    }

    @media screen and (max-width: $--screen-md-min) {
        padding-top: 70px;
        grid-row-gap: 8vw;

        &__content {
            grid-column: 2/11;
            &.offset-sm {
                grid-column: 1/11;
            }
        }

        &__title {
            &--btn {
                bottom: unset;
                top: 100%;
                transform: translate(0, -12px);
            }
        }
    }

    @media screen and (max-width: $--screen-sm-min) {
        &.block-offset-products {
            grid-row-gap: 30px;
        }

        &__content, 
        &__content.offset-sm {
            grid-column: 1/6;
        }

        &__title {
            &--btn {
                position: static;
                transform: none;
                margin: auto;
            }
        }
    }
    
}

.card {
    border-radius: calc($--border-radius-default * 2);
    border: 2px solid $--main-gray;
}

.title-ladder {
    margin-bottom: 50px;
    position: relative;
    &:first-of-type {
        top: -19px;
        @media screen and (max-width: $--screen-md-min) {
            top: -14px;
        }
    }
    
    span:first-of-type {
        grid-column: 2/11;
    }
    
    span:last-of-type {
        grid-column: 3/11;
    }

    
    @media screen and (max-width: $--screen-sm-min) {
        margin-bottom: 8vw;

        span:first-of-type {
            grid-column: 1/6;
        }
        
        span:last-of-type {
            grid-column: 2/6;
        }
    }
}



.text-blocks {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $--screen-md-min) {
        &.plain {
            flex-direction: column;

            .text-blocks__col {
                width: 100%;
                display: flex;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 50px;
                }
            }
            .text-blocks__item {
                max-width: 44.444%;
                width: 100%;
                
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    }
    @media screen and (max-width: $--screen-xs-min) {
        &.platform {
            flex-direction: column;
            .text-blocks__col {
                width: 100%;
            }
        }
        &.plain, &.platform {

            .text-blocks__col {
                flex-wrap: wrap;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            .text-blocks__item {
                max-width: 100%;
                
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.text-blocks__col {
    width: 50%;
}

.text-blocks__item {
    max-width: 75%;

    &-subtitle {
        margin-bottom: 20px;
    }

    &-icon {
        max-width: 40px;
        margin-bottom: 10px;
    }

    &, &--long {
    
        &:not(:last-child) {
            margin-bottom: 70px;

            @media screen and (max-width: $--screen-md-min) {
                margin-bottom: 50px;
            }
        }
    }

    &--long {
        min-width: 101.91791%;
        position: relative;
        left: -1.91791%;
    }
}



// .text-blocks__icon {
//     .icon-xs {
//         max-width: 85%;

//         @media screen and (max-width: $--screen-xs-min) {
//             max-width: unset;
//         }
//     }  
//     .icon-xl {
//         min-width: 112%;
//         position: relative;
//         left: -12%;

//         @media screen and (max-width: $--screen-xs-min) {
//             position: static;
//             min-width: unset;
//         }
//     }
// } 

.text-page-block {
    &:not(:last-child) {
        margin-bottom: 70px;
    }
    h2 {
        margin-bottom: 20px;
    }
    p, ul {
        margin: 1em 0;
    }
}

li {
    list-style-position: inside;
    margin: .5em 0 .5em 1em;
}